@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 10px;
    transition:ease 0.5s;
}

body {
    background: linear-gradient(45deg, #565656, #666666);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#vid {
    box-shadow: -0px -0px 15px rgba(0, 0, 0, 0.2);
}

#genURLBtn{
    border:none;
    background:#888888;
    border-radius:15px;
}

#genURLBtn:hover {
    background: #AAAAAA;
    transform:scale(1.1);
}
